@import "@/styles/variables.scss";

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
